.aal_general_settings { margin: 25px 0; }
.aal_general_settings form span.aal_label { width: 200px; display: block; float: left; }
.aal_general_settings input[text], .aal_general_settings select, .aal_general_settings input[file] { width: 200px; }
#aal_extended { display: none; }
.aal_sugbox { width: 180px; float: left; }
ul.aal_admin_list { list-style-type: disc; margin-left: 30px; }
.aal_link_item { clear: both;  }
.aal_post_link { width: 300px; float: left; border-bottom: 1px solid #000000; border-left: 1px solid #000000; height: 40px; padding: 3px;  }
.aal_key_link { width: 400px; float: left; border: 1px solid #000000; border-top: none;  height: 40px; padding: 3px; }
.aal_exclude_link { width: 300px; float: left; border-bottom: 1px solid #000000; border-right: 1px solid #000000; height: 40px; padding: 3px;  }
.aal_excludedcol { float: left; width: 100px; border: 1px solid #000000; padding: 5px; height: 15px; }
.aal_excludedtitle { width: 68%; }
.aal_excludedidcol { width: 45px; }
.aal_excludeditem, .aal_excludeditemheader { width: 100%; }

.aal_biginput { width: 300px; }

.aalcustomlink_item { padding: 7px; border: 1px solid; }
span.aalcustomlink_url { margin-right: 20px; width: 200px; }
span.aalcustomlink_title { margin-right: 20px; width: 400px; }
span.aalcustomlink_merchant { float: right; }
.aalcustomlinkdeleteall { padding: 10px; font-size: 14px; }
.aal_leftadmin { width: 70%; font-size: 16px; }
.aal_leftadmin p { font-size: 15px;  }